.app__navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    
    
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}

.app__navbar-links>li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;
}



.app__navbar-links>li>a {
    color: gray;
    text-decoration: none;
    flex-direction: column;

    text-transform: uppercase;
    font-weight: 500;

    transition: all 0.3s ease-in-out;
}